<h1>Restaurants</h1>
<%= link_to "add another restaurant", restaurants_new_path %>
<p><%= @restaurants.length %></p>
<% @restaurants.each do |restaurant| %>
  <h1><%= link_to restaurant.name, restaurants_show_path(@restaurant) %></h1>
  <p><%= restaurant.phone_number %></p>
  <p><%= restaurant.address %></p>
  <p><%= restaurant.category %></p>
<% end %>

